.container {
  // wraps all related elements
  display: flex;
  flex-direction: column;

  // center all child elements vertically and horizontally
  justify-content: center;
  align-items: center;

  // size based on viewport not parent
  height: 100vh;
  width: 100vw;

  // used to create a greater contrast between text and background image
  background: rgba(0, 0, 0, 0.25);
}


.divider {
  width: 45vw;
  border: .5rem solid rgba(255, 255, 255, 0.66);
}


app-timer {
  width: 45%;
}
