<div class="container">
  <h1 id="days">{{days}}<small>d</small></h1>
  <h1 id="hours">{{hours}}<small>h</small></h1>
  <h1 id="minutes">{{minutes}}<small>m</small></h1>
  <h1 id="seconds">{{seconds}}<small>s</small></h1>
</div>
