@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

:root {
  // set the base font-size of all fonts
  font-size: 14px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
}

body {
  // set the background image of the app
  background-image: url(https://images.unsplash.com/photo-1450258293730-59d0e9340295?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1259&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


h1 {
  // 5rem = 5 x root font-size (5 x 14px)
  font-size: 5rem;
  font-weight: lighter;
}

h3 {
  // 2rem = 2 x root font-size (2 x 14px)
  font-size: 3rem;
  font-weight: lighter;
}

@media screen and (max-width: 1250px) {
  :root {
    font-size: 10px;
  }
}

@media screen and (max-width: 850px) {
  :root {
    font-size: 9px;
  }
}

@media screen and (max-width: 720px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 6px;
  }
}

